<!DOCTYPE html>
<html>
  <head>
    <title>CdpWebManyoTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash.present? %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <p id="notice"><%= notice %></p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <%end%>

    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Application de tâche</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse  navShowState " id="navbarNavAltMarkup">
        <div class="navbar-nav ">
            
          
            <% if logged_in? %>
                
                  <%= link_to "Liste des utilisateurs", admin_users_path, class:"nav-item nav-link", id:"users-index"  %>
                  
                  
                  <%= link_to "Compte", user_path(current_user.id),class:"nav-item nav-link",id:"my-acccount" %>
                  

                  <%= link_to "Enregistrer un utilisateur", new_admin_user_path,class:"nav-item nav-link" %>


                  <%= link_to t('global_navigation.tasks_index'), tasks_path,class:"nav-item nav-link",id:"tasks-index" %>
                 

                  <%= link_to t('global_navigation.new_task'), new_task_path, class:"nav-item nav-link", id!:"new-task" %>
                  <%= link_to "Liste  d'étiquettes", labels_path, class:"nav-item nav-link", id:"labelss-index" %>
                  


                  <%= link_to "Enregistrer l'étiquette", new_label_path, class:"nav-item nav-link", id:"new-labels" %>
                  

                  <%= link_to "Déconnecté", session_path(current_user.id),class:"nav-item nav-link", id:"sign-out", method: :delete %>
                  
              <% else %>
                  <%= link_to "Connexion", new_session_path, class:"nav-item nav-link", id:"sign-in"%>

                  <%= link_to "Inscription", new_user_path, class:"nav-item nav-link", id:"sign-up" %>
              <% end %>

   
        </div>
      </div>
    </nav>  

    <div class="container  mt-5">
      <%= yield %>
    </div>  
  </body>
</html>
